

.form-group {
	margin-bottom: 15px;
	display: flex;
	flex-direction: column;
}

.input-username{
	width: 100%;
	padding: 10px;
	border: 1px solid #183b56;
	border-radius: 4px;
	font-size: 13px;
	outline: none;
	color: #183b56;
	position: relative;
}

.register{
	color: #2EB8B8;
}

.login-button {
	width: 100%;
	padding: 10px;
	background-color: #333;
	color: white;
	border: none;
	border-radius: 4px;
	font-size: 20px;
	cursor: pointer;
	margin-top: 10px;	
}

.login-button:hover {
	background-color: #555;
}

.divider {
	text-align: center;
	margin: 20px 0;
	color: #888;
	position: relative;
}

.divider::before,
.divider::after {
	content: '';
	display: inline-block;
	width: 40%;
	height: 1px;
	background-color: #ddd;
	position: absolute;
	top: 50%;
}

.divider::before {
	left: 0;
}

.divider::after {
	right: 0;
}

.google-login {
	width: 100%;
	padding: 10px;
	border: 1px solid #ddd;
	background-color: white;
	color: #333;
	border-radius: 4px;
	font-size: 16px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.google-login img {
	width: 20px;
	height: auto;
}

.google-login:hover {
	background-color: #f4f4f4;
}

.eye {
	position: relative;
}
.toggle-password {
	position: absolute;
	top: 50%;
	right: 0.5rem;
	transform: translate(-50%, -50%);
	cursor: pointer;
}
