body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.register-container {
    display: flex;
    width: 800px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.left-section {
    flex: 1;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.left-section img {
    max-width: 100%;
    height: auto;
}

.right-section {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.toggle-password {
    position: relative;
    float: right;
    margin-top: -28px;
    margin-right: 10px;
    cursor: pointer;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #444;
    color: white;
}

.google-login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 20px;
    cursor: pointer;
    color: #444;
}
.google-login-btn i {
    margin-right: 10px;
}
.divide {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}
.divide div{
    height: 1px;
    width: 50%;
    background-color: #444;
}
p {
    text-align: center;
    margin-top: 20px;
}
.divide p{
    font-size: 13px;
}
